---
import ArticleHeading from "../components/ArticleHeading.astro";
import Layout from "../layouts/Layout.astro";
import type { Frontmatter } from "../lib";

type Article = {
	url:string
	frontmatter: Frontmatter
} 

const articles:Article[] = Object.values(
	import.meta.glob('./blog/*.md',{eager:true})
)
const headline = articles.pop()
---

<Layout>
	<main class='grid grid-cols-1 lg:grid-cols-2 gap-36 md:gap-64 p-20 md:p-64'>
		<!-- <a href={`${headline?.url}`} class="flex gap-36 items-center col-span-full">
			<img 
				src={`${headline?.frontmatter.image}`} 
				alt="" 
				srcset="" 
				class="w-full aspect-[4/3] rounded-[12px]"
			>
			<div>
				<ArticleHeading 
					title={headline?.frontmatter.title ?? ''}
					author={headline?.frontmatter.author ?? ''}
					published={headline?.frontmatter.published ?? ''}
					synopsis={headline?.frontmatter.synopsis ?? ''}
				/>
			</div>
		</a> -->
		<a href={`${headline?.url}`} class="">
			<img 
				src={`${headline?.frontmatter.image}`} 
				alt="" 
				srcset="" 
				class="article-image"
			>
		</a>
		<a href={`${headline?.url}`} class="flex flex-col justify-center">
			<ArticleHeading 
				title={headline?.frontmatter.title ?? ''}
				author={headline?.frontmatter.author ?? ''}
				published={headline?.frontmatter.published ?? ''}
				synopsis={headline?.frontmatter.synopsis ?? ''}
			/>
		</a>
		{articles.map(post =>
			<a href={post.url} class="space-y-36">
				<img 
					src={post.frontmatter.image} 
					alt="" 
					srcset="" 
					class="article-image"
				>
				<ArticleHeading 
					title={post?.frontmatter.title ?? ''}
					author={post?.frontmatter.author ?? ''}
					published={post?.frontmatter.published ?? ''}
					synopsis={post?.frontmatter.synopsis ?? ''}
				/>
			</a>
		)}
	</main>
</Layout>

<style>
	.article-image{
		width: 100%;
		aspect-ratio: 4 / 3;
		border-radius: 12px;
	}
</style>

