---
import Layout from "../layouts/BaseLayout.astro";
import type { BlogPost } from "../lib";
const posts: BlogPost[] = Object.values(import.meta.glob('./blog/*.md',{eager:true}));
---

<Layout>
    <main class='p-24 md:px-64 md:py-56 space-y-44'>
        <h1 class="max-md:text-h3">Browse articles</h1>
        <ul class="blog-grid">
            {posts.map((post) => 
                <li>
                    <a href={post.url} class="blog-post">
                        <img src={post.frontmatter.image} alt="">
                        <div>
                            <h4 class="mb-8 max-md:text-h5">{post.frontmatter.author}</h4>
                            <p class="mb-12 max-md:text-sm">
                                By {post.frontmatter.author} | {post.frontmatter.published}
                            </p>
                            <p class="max-md:text-sm">{post.frontmatter.synopsis}</p>
                        </div>
                    </a>
                </li>
            )}
        </ul>
    </main>
</Layout>

<style>
    .blog-grid{
        display: grid;
        gap: 44px;
        grid-template-columns: repeat(auto-fill,minmax(min(400px,100%),1fr));
    }

    
	.blog-post{
        display: flex;
        flex-direction: column;
        gap:36px;
	}

	img{
		width: 100%;
		aspect-ratio: 16/9;
		transition: all 250ms;
        object-fit: cover;
	}

    li:hover{
        img{
            scale: 1.05
        }
    }
</style>
