---
import Layout from './Layout.astro';
import '../styles/blog.css';
import type { Frontmatter } from '../lib';
import ArticleHeading from '../components/ArticleHeading.astro';

interface Props{
	frontmatter:Frontmatter
}

const {frontmatter} = Astro.props;
---

<Layout>
	<main class="flex flex-col items-center">
		<div style=`--bg-image:url(${frontmatter.image})` class="article-image">
		</div>
		<section>
			<header class="col-span-2 z-50">
				<ArticleHeading 
					title={frontmatter.title}
					author={frontmatter.author}
					published={frontmatter.published}
					synopsis={frontmatter.synopsis}
				/>
			</header>
			<article>
				<slot></slot>
			</article>
			<aside class="space-y-16">
				<h6>Contents</h6>
				<ul class="space-y-12">
					<li>
						<p>Heading 1</p>
					</li>
					<li>
						<p>Heading 1</p>
					</li>
					<li>
						<p>Heading 1</p>
					</li>
				</ul>
			</aside>
		</section>
	</main>
</Layout>

<style>
	section{
		display: grid;
		grid-template-columns: min(100%,75ch) auto;
		justify-content: center;
		gap: 56px;
		margin-top: -10rem;
		padding: 56px 36px;
		position: relative;
	}

	.article-image{
		width: 100%;
		aspect-ratio: 2.39 / 1;
		object-fit: cover;
		background-image: linear-gradient(transparent,black), var(--bg-image);
	}

</style>