---
import BaseLayout from "./BaseLayout.astro";
import { type Frontmatter } from "../lib";
import "../styles/blog.css";
import { formatDate } from "../lib/format";

type Heading = {
    depth: number
    slug: string
    text: string
};

interface Props {
    headings: Array<Heading>
    frontmatter: Frontmatter
}

const { headings, frontmatter } = Astro.props;
const {
    image,
    published,
    title,
    synopsis,
    url
} = frontmatter;
---

<BaseLayout {title} description={synopsis}>
    <Fragment slot="head">
        <meta name="og:url" content={`https://www.wakunguma.com${url}`}>
        <meta property="og:image" content={`https://www.wakunguma.com${image}`}>
        <meta property="og:locale" content="en_GB">
        <meta property="og:image:url" content={`https://www.wakunguma.com${image}`}>
        <meta property="og:image:type" content="image/png">
        <meta property="article:author" content="Wakunguma Kalimukwa">
        <meta name="twitter:card" content={"summary_large_image"}>
        <meta name="twitter:image" content={`https://www.wakunguma.com${image}`}>
    </Fragment>
    <main class="md:px-64 flex justify-center scroll-smooth">
        <div class="space-y-36 md:py-40 w-full">
            <img src={image} alt="" class="aspect-[16/9] w-full object-cover">
            <header class="flex flex-col items-center">
                <h1 class="text-center max-md:text-h3">{title}</h1>
                <p class="mt-8">{formatDate(published)}</p>
            </header>
            <div class="flex px-24 md:px-64 gap-64 pb-64 justify-center">
                <article class="blog-content">
                    <slot />
                </article>
                <aside aria-label="Content Summary" class="max-lg:hidden h-full space-y-16 sticky top-32">
                    <h6>On this page</h6>
                    <ul>
                        {headings.map(heading => (
                            <li style={{ "--depth": `${heading.depth - 2}` }} class="heading-link">
                                <a href={`#${heading.slug}`}>{heading.text}</a>
                            </li>
                        )
                        )}
                    </ul>
                </aside>
            </div>
        </div>
    </main>
</BaseLayout>

<style>
    .heading-link{
        padding: 8px 16px;
        margin-left: calc(16px * var(--depth));
        border-left: 2px solid color-mix(in srgb, black 5%,transparent);
        position: relative;
        [data-theme="dark"] & {
            border-color: color-mix(in srgb, white 5%,transparent)
        }
    }
</style>
