---
import Layout from './Layout.astro';
import '../styles/global.css';
import '../styles/blog.css';
import type { Frontmatter } from '../lib';
import ArticleHeading from '../components/ArticleHeading.astro';
import Navbar from '../components/Navbar.astro';
interface Props{
	headings:Array<{
		depth:number,
		slug:string,
		text:string
	}>
	frontmatter:Frontmatter
}

const {headings,frontmatter} = Astro.props;

// The minimum heading level to start the base padding
const minLevel = headings.length !== 0 ? headings.reduce((val,heading) => {
	return Math.min(val,heading.depth) 
},headings[0].depth) : 0;

// FIXME don't add contents if there are no headings
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title}</title>
		<meta name="description" content={frontmatter.synopsis}/>
		<meta name="publisher" content={frontmatter.author}/>
	</head>
	<body>
		<div class='absolute'>
			<Navbar/>
		</div>
		<main class="flex flex-col items-center">
			<div style=`--bg-image:url(${frontmatter.image})` class="article-image">
			</div>
			<header class="col-span-2 z-50">
				<ArticleHeading 
					title={frontmatter.title}
					author={frontmatter.author}
					published={frontmatter.published}
					synopsis={frontmatter.synopsis}
				/>
			</header>
			<section>
				<article>
					<slot/>
				</article>
				<aside class="space-y-16 text-text-heading max-lg:hidden">
					<h6>Contents</h6>
					<ul class="flex flex-col">
						{headings.map(heading =>
							<a 
								style={`--level:${heading.depth};--min-level:${minLevel}`}
								href={`${frontmatter.url}#${heading.slug}`}
								class="content-heading"
							>
								<p class="text-sm">{heading.text}</p>
							</a>
						)}
					</ul>
				</aside>
			</section>
		</main>
	</body>
</html>

<style>
	@reference '../styles/global.css';

	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}


	section{
		display: flex;
		justify-content: center;
		gap: 56px;
		margin-top: -10rem;
		width: 100%;
		padding: 56px 36px;
		position: relative;
	}

	.article-image{
		width: 100%;
		aspect-ratio: 2.39 / 1;
		object-fit: cover;
		background-image: linear-gradient(
			transparent,var(--color-background)), 
			var(--bg-image);
		background-size: cover;
		background-position: center;
	}

	.content-heading{
		@apply py-8 pl-8;
		--indent: calc(var(--level) - var(--min-level));
		margin-left: calc(16px * var(--indent));
		/* border-left: 2px solid var(--color-neutral-700); */
	}

</style>