---
import Layout from './Layout.astro';
import '../styles/blog.css';

interface Props{
	frontmatter:{
		title:string,
		author:string,
		published:string,
		synopsis:string,
		image:string
	}
}

const {frontmatter} = Astro.props;
---

<Layout>
	<main class="flex flex-col items-center">
		<img src={frontmatter.image} alt="" class="w-full aspect-[2.39/1] object-cover">
		<section>
			<header class="space-y-12 col-span-2">
				<div class="space-y-8">
					<h1>{frontmatter.title}</h1>
					<div class="flex gap-12 items-center">
						<p>{frontmatter.author}</p>
						<p>{frontmatter.published}</p>
					</div>
				</div>
				<p class="text-sm">{frontmatter.synopsis}</p>
			</header>
			<article>
				<slot></slot>
			</article>
			<aside class="space-y-16">
				<h6>Contents</h6>
				<ul class="space-y-12">
					<li>
						<p>Heading 1</p>
					</li>
					<li>
						<p>Heading 1</p>
					</li>
					<li>
						<p>Heading 1</p>
					</li>
				</ul>
			</aside>
		</section>
	</main>
</Layout>

<style>
	section{
		display: grid;
		grid-template-columns: min(100%,75ch) auto;
		justify-content: center;
		gap: 56px;
		margin-top: -10rem;
		padding: 56px 36px;
	}
</style>