---
import Navbar from '../components/Navbar.svelte';
import type { Frontmatter } from '../lib';
import '../styles/app.css';
import '../styles/blog.css';

interface Props{
	headings:Array<{
		depth:number,
		slug:string,
		text:string
	}>
	frontmatter:Frontmatter
}

const {headings,frontmatter} = Astro.props;
const {
    image,
    published,
    author,
    title,
    synopsis
} = frontmatter;
---

<!doctype html>
<html lang="en" data-theme="dark">
	<head>
        <title>{title}</title>
        <meta name="description" content={synopsis}>
        <link rel="icon" type="image/svg+xml" href="/icons/logo-black.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} >
	</head>
	<body>
        <Navbar/>
        <main class="px-64 flex justify-center">
            <article class="space-y-36 py-40 max-w-[1150px]">
                <img src={image} alt="" class="aspect-[4/3] w-full rounded-md">
                <header class="flex flex-col items-center">
                    <h1 class="text-center">{title}</h1>
                    <p class="mt-8 mb-4">{published}</p>
                    <p>By {author}</p>
                </header>
                <div class="flex px-64 gap-36 justify-center">
                    <div class="max-w-[75ch] blog-content">
                        <article class="blog-content">
                            <slot/>
                        </article>
                    </div>
                    <div>
                        <h4>Contents</h4>
                        <ul>
                            {headings.map((heading: any) => 
                                <li>
                                    <p>{heading.text}</p>
                                </li>
                            )}
                        </ul>
                    </div>
                </div>
            </article>
        </main>
	</body>
</html>

<style>
    html,body{
        width: 100%;
        height: 100%;
    }

    body{
        display: grid;
        grid-template-rows: auto 1fr;
    }
</style>
