---
import BaseLayout from './BaseLayout.astro';
import type { Frontmatter } from '../lib';
import '../styles/blog.css';

interface Props{
	headings:Array<{
		depth:number,
		slug:string,
		text:string
	}>
	frontmatter:Frontmatter
}

const {headings,frontmatter} = Astro.props;
const {
    image,
    published,
    author,
    title,
    synopsis
} = frontmatter;
---

<BaseLayout {title} description={synopsis}>
    <main class="px-64 flex justify-center scroll-smooth">
        <div class="space-y-36 py-40 w-full">
            <img src={image} alt="" class="aspect-[4/3] w-full">
            <header class="flex flex-col items-center">
                <h1 class="text-center">{title}</h1>
                <p class="mt-8">{published}</p>
                <p>By {author}</p>
            </header>
            <div class="flex px-64 gap-64 justify-center">
                <div class="max-w-[75ch] blog-content">
                    <article class="blog-content">
                        <slot/>
                    </article>
                </div>
                <div class="max-lg:hidden space-y-16 sticky top-32">
                    <h6>On this page</h6>
                    <ul>
                        {headings.map((heading: any) => 
                            <li class="px-16 py-8 border-l-2 border-black/5 dark:border-white/5">
                                <a href={`#${heading.slug}`}>{heading.text}</a>
                            </li>
                        )}
                    </ul>
                </div>
            </div>
        </div>
    </main>
</BaseLayout>
